<input type="tel" id="num1" size="3" maxlength="3"/>の
<input type="tel" id="num2" size="2" maxlength="2"/>乗は？
<input type="button" id="calcButton" value="calculate!"/>
<span id="loading"></span>
<div id="error"></div>
<ul id="lists"></ul>