<input type="number" id="num1" size="3" maxlength="3"/>の
<input type="number" id="num2" size="3" maxlength="3"/>乗は？
<input type="button" id="calcButton" value="calculate!"/>
<span id="loading"></span>
<div id="error"></div>
<ul id="lists"></ul>