<div class="red">赤文字<input type="text" id="red-text" size="10" maxlength="10"/></div>
<div class="blue">青文字<input type="text" id="blue-text" size="10" maxlength="10"/></div>
<div class="yellow">黃文字<input type="text" id="yellow-text" size="10" maxlength="10"/></div>
<button id="button">検索！</button><span id="error"></span>
<textarea id="subject" cols="20" rows="10"></textarea>
<div id="result"></div>